<tr>
  <td ><%= badge.name %></td>
  <td ><%= badge.rule %></td>
  <td ><%= badge.image_url %></td>
  <td ><%= link_to t('.badge.show'), admin_badge_path(badge) %></td>
  <td ><%= link_to t('.badge.edit'), edit_admin_badge_path(badge) %></td>
  <td ><%= link_to t('.badge.delete'), admin_badge_path(badge), method: :delete, data: { confirm: "Delete badge?"} %>
  </td>
</tr>
