<h1><%= "Header" %></h1>
  <table>
    <thead>
    <tr>
      <th ><%= "email" %></th>
      <th ><%= "question" %></th>
      <th ><%= "URL" %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @gists %>
    </tbody>
  </table>
