<h1><%= t(".header")%></h1>
  <table>
    <thead>
    <tr>
      <th ><%= t(".email") %></th>
      <th ><%= t(".question_body") %></th>
      <th ><%= t(".url")%></th>
    </tr>
    </thead>
    <tbody>
    <%= render @gists %>
    </tbody>
  </table>
