<h1> Passing the <%= @test_passage.test.title %> Test </h1>
<div class="progress test-progress">
  <%= content_tag :div, "Вопрос номер #{@test_passage.question_num[0]} из #{@test_passage.question_num[1]}",
                  class: 'progress-bar bg-success',
                  id: 'test-progress',
                  data: { question_number: @test_passage.question_num[0] ,
                          total_question: @test_passage.question_num[1]  } %>
</div>

<%= content_tag :div,
                "Начало отсчета",
                class: 'timer',
           data: { remaining_time: @test_passage.test.time_limit*60 } do %>
<% end %>

<p> <%= @test_passage.current_question.body %> </p>
<%= form_with url: test_passage_path(@test_passage), id: :test_passage, local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p> <%= b.check_box id: "answer_ids_#{b.object.id}"%>
      <%= b.label %>
    </p>
  <% end %>
  <p> <%= link_to 'Gist Question', gist_test_passage_path, method: :post %></p>
  <p> <%= form.submit 'Next' %></p>
<% end %>
