<h1><%= t(".header", title: @question.test.title) %></h1>

<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body, id: :question_body %>
  </p><br>

  <p> <%= form.submit %></p>
  <td> <%= link_to t(".to_test"), admin_test_path(@question.test) %></td>
<% end %>
