<h1><%= t(".header", title: @test.title, level: @test.level)%>.</h1>
<table class="table table-bordered">
<thead>
  <tr>
  <td><%= t(".num") %></td>
  <td><%= t(".question") %></td>
  <td colspan="2"> <%= t(".acton") %> </td>
  </tr>
</thead>
<tbody>
  <%@test.questions.each do |question| %>
  <tr>
  <td><%=question.id %></td>
  <td><%=question.body %></td>
  <td> <%= link_to t(".edit") , edit_admin_question_path(question) %></td>
    <td> <%= link_to t(".delete"), admin_question_path(question), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
</tbody>
  <% end %>
</table>
<%= link_to t(".to_tests"), admin_tests_path %> |
<%= link_to t(".edit_test"), edit_admin_test_path(@test) %>|
<%= link_to t(".add_quest"), new_admin_test_question_path(@test) %>
