<h1> <%=I18n.t('tests.index.header') %></h1>

<span class=<%= self.current_user.admin? ? '' : 'hide'%>>
  <%= link_to 'To Admin Panel', admin_tests_path %>
</span>
<table>
  <tr>
    <th> <%= t(".title") %> </th>
    <th><%= t(".level") %></th>
    <th><%= t(".question_in_test") %></th>
    <th > <%= t(".start") %> </th>
  </tr>
<%= render @tests %>
</table>
