
<h1>Create New Test</h1>
<%= form_with model: @test do |form| %>
<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p><br>

  <p>
  <%= form.label :level %><br>
    <%= form.number_field:level %>
  </p><br>

  <p>
    <%= form.label :category_id %><br>
    <%= form.number_field:category_id %>
  </p><br>

  <p> <%= form.submit %></p>
<% end %>
