<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div>
      <ul>
        <li>год: <%= current_time %></li>
        <li><a href="https://github.com/shudv2021/TestGuru" target="_blank"> Исходники проекта.</a></li>
        <li>Выполнено в рамках учебного задания школы <a href="https://thinknetica.com/" target="_blank">Thinknetica</a></li>
        <li> Щуплевым Д.В.</li>
      </ul>
    </div>
  </footer>
</html>
